/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-posts {

	.posts {
		display: flex;
		flex-direction: row;
		gap: 20px;
		width: 100%;
		max-width: 1216px;
		flex-wrap: wrap;
		margin: 40px auto;
	}

	.posts__title {
		flex: 100%;
		margin-bottom: 12px;
		font-size: 1.5rem;
		line-height: 28px;
		color: #fff;
	}

	.posts__card {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 16px;
		width: 100%;
		flex: calc(33.33% - 26.66px);
		max-width: calc(33.33% - 26.66px);
		padding: 16px;
		border-radius: 12px;
		box-shadow: 0 0 0 1px #242535;
		box-sizing: border-box;
	}

	.posts__card__detail {
		padding: 8px;
	}

	.posts__card__tag {
		display: block;
		background-color: rgba(75, 107, 251, 0.05);
		color: #4B6BFB;
		border-radius: 6px;
		padding: 4px 10px;
		font-size: 14px;
		line-height: 20px;
		width: fit-content;
	}

	.posts__card h2 {
		font-size: 1.5rem;
		line-height: 28px;
		font-weight: 500;
		color: #fff;
		margin-top: 16px;
		margin-bottom: 20px;
	}

	.posts__card__author {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 20px;
	}

	.posts__card__author img {
		width: 36px;
		border-radius: 50%;
		margin-left: 12px;
		margin: unset;
	}

	.posts__card__author h3 {
		font-size: 16px;
		line-height: 24px;
		color: #97989F;
	}

	.posts__card__author p {
		font-size: 16px;
		line-height: 24px;
		color: #97989F;
	}

	.posts__card__img {
		width: 100%;
		aspect-ratio: 3 / 2;
		object-fit: cover;
		object-position: center;
		border-radius: 6px;
	}

	.posts__btn {
		all: unset;
		padding: 12px 20px;
		background-color: rgba(105, 106, 117, 0.3);
		color: #696A75;
		margin: 0 auto;
		margin-top: 12px;
		display: block;
	}
}